<div class="well">
	<h3>ATTENDEES</h3>
	<br/>
	<div class="row-fluid">
		<% if @event.attendees.blank? %>
			<table class="table table-striped">
				<tr>
					<td><em>There are no event attendees for the <%= @event.title %>.</em></td>
				</tr>
				
			</table>
		<% else %>	
		<div class="table-products">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Phone</th>
				
			</tr>
		</thead>
		<tbody>
			<% @event.attendees.take(5).each do |i| %>
			<tr>
				<td><strong>
				<%= i.first_name  %> <%= i.last_name  %>
				</strong></td>
				<td><%= i.email  %>
					</td>
				<td><%= number_to_phone(i.phone)  %></td>
				
			</tr>
			<% end %>
		</tbody>
	</table>

</div>
<%= link_to "VIEW ALL", attendees_path(:id => @event), :class => "btn-flat default" %>

<% end %>
</div>


		
	</div>