<div class="well">
	<h3>TICKET TYPES</h3>
	<br/>
	<% if @event.variants.nil? %>
	<div class="row-fluid">
		<div id="bar-example" ></div>
		</div>
	<% end %>
	<div class="row-fluid">

		<div class="table-products">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>Capacity</th>
						<th>Price</th>
						<th></th>

					</tr>
				</thead>
				<tbody>
					<% @event.variants.each do |i| %>
					<tr>
						<td><strong> <%= i.name.upcase %> </strong></td>
						<td><%= i.capacity  %></td>
						<td><%= number_to_currency(i.price) %></td>

						<td>
						<ul class="actions">

							<li>
								<%= link_to edit_ticket_type_path(i) do %>
								<i class="table-edit"></i>
								<% end %>
							</li>
							<li>
								<%= link_to image_tag("/img/ico-table-delete.png"),
								ticket_type_path(i), :method => :delete,
								:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }
%>

							</li>
						</ul></td>

					</tr>
					<% end %>
				</tbody>
			</table>

		</div>
	</div>

	<a href="#newModal" role="button" class="btn-flat gray" data-toggle="modal">+ NEW TICKET TYPE</a>
	
</div>

<%= render 'ticket_type_form' %>


<%= content_for :jsfooter do %>
		<%= render 'partials/morris_js' %>
<script>
	
	Morris.Bar({
  element: 'bar-example',
  data: [
  <% @event.variants.each do |i| %>
    { y: '<%= i.name %>', a: <%= i.capacity %>, b: 90 },
    <% end %>
  ],
  xkey: 'y',
  ykeys: ['a', 'b'],
  labels: ['Capacity', 'Actual Attendance']
});
</script>
<% end %>
