<%= @count %>

<% @webhooks.each do |w| %>
	<%= w.address %> <br/>
<% end %>

<% content_for :statsheader do %>
<!-- upper main stats -->
<div id="main-stats">
	<div class="row-fluid stats-row">

		<div class="span4 stat">
			<div class="data">
				<span class="number"><%= Product.count %></span>
				Active Events
			</div>
			<span class="date">Today</span>
		</div>
		<div class="span4 stat">
			<div class="data">
				<span class="number"><%= number_to_currency(Order.sum(:total))%></span>
				revenue
			</div>
			<span class="date">This year</span>
		</div>
		<div class="span4 stat last">
			<div class="data">
				<span class="number"><%= Attendee.count %></span>
				attendees
			</div>
			<span class="date">last 30 days</span>
		</div>
	</div>
</div>
<!-- end upper main stats -->
<% end %>


<div class="span11">
	<div class="header">
		<h2>Recent Event Orders</h2>
	</div>
	<% if @orders.blank? %>
	<table class="table table-striped">
		<tr>
			<td><em>There are no event registrations in your store.</em></td>
		</tr>
		<tr>
			<td><%= link_to "CREATE A NEW EVENT", new_event_path, :class => 'btn-glow success' %></td>
		</tr>
	</table>

	<% else %>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Order</th>
				<th>Placed by</th>
				<th>Paid</th>
				<th>Created</th>

			</tr>
		</thead>
		<% @orders.each do |r| %>
		<tr>
			<td><%= link_to r.order_number, "https://test.com/admin/orders/", :target => 'blank' %></td>
			<td><%= r.quantity %></td>
			<td> <%= r.total %> </td>
			<td> <%= r.created_at.to_time.strftime('%B %e at %l:%M %p') %> </td>
		</tr>
		<% end %>
	</table>

	<% end %>

	<div class="section">
		<h2>Event Orders Trend Last 30 Days</h2>
		<div id="myfirstchart" style="height: 250px;"></div>
	</div>
	<br/>

</div>
<!-- span8 / right-column -->

</div>

<%= content_for :jsfooter do %>

<%= render 'partials/morris_js' %>
<script>
	new Morris.Line({
		// ID of the element in which to draw the chart.
		element : 'myfirstchart',
		// Chart data records -- each entry in this array corresponds to a point on
		// the chart.
		data : [{
			year : '2008',
			value : 20
		}, {
			year : '2009',
			value : 10
		}, {
			year : '2010',
			value : 5
		}, {
			year : '2011',
			value : 5
		}, {
			year : '2012',
			value : 20
		}],
		// The name of the data record attribute that contains x-values.
		xkey : 'year',
		// A list of names of data record attributes that contain y-values.
		ykeys : ['value'],
		// Labels for the ykeys -- will be displayed when you hover over the
		// chart.
		labels : ['Value']
	}); 
</script>

<% end %>







