
<br/>
<%= simple_form_for @event, :html => { :class => 'form-horizontal well' } do |c| %>
  
 <div class="row-fluid">
  <div class="span5">
  	<h3>EVENT DETAILS</h3><br/>
  	<%= c.input :title, :required => true %>
  	<%= c.input :start_datetime, :required => true %> 
  	<%= c.input :end_datetime, :required => true %>
  	</div>
  	
  	
  	<div class="span5">
	  	<h3>VENUE DETAILS</h3> <br/>
	  	<%= c.input :venue_virtual, :as => :boolean %>
	  	<%= c.input :venue_street_address, :required => true %>
	  	<%= c.input :venue_secondary_address %> 
	  	<%= c.input :venue_city, :required => true %>
	  	<%= c.input :venue_state_province, :required => true %>
	  	<%= c.input :venue_country, :required => true %> 
  	</div>
  </div>
  <div class="row-fluid">
  	<div class="span12 section">
  	<h3>EVENT DESCRIPTION</h3> <br/>
	  	<%= c.input :body_html, :as => :text, :label => false, :input_html => { :cols => 900, :rows => 10, :style => "width: 600px;" } %>
	  	</div>
  	</div>	
  <div class="form-actions">
    <%= c.button :submit, :class => 'btn-flat primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                events_path, :class => 'btn-flat inverse' %>
  </div>
  
  
  

<% end %>

<% content_for :jsfooter do %>


<%= javascript_include_tag "../mobiscroll-2.1/js/mobiscroll-2.1.custom.min.js"%>
<script>
	
	$(function(){
	    var now = new Date();
	
	    $('#event_start_datetime').scroller({
	        preset: 'datetime',
	        minDate: new Date(now.getFullYear(), now.getMonth(), now.getDate()),
	        theme: 'ios',
	        display: 'bottom',
	        mode: 'scroller'
	    });    
	
	    $('#show').click(function(){
	        $('#it').scroller('show'); 
	        return false;
	    });
	    $('#clear').click(function () {
	        $('#it').val('');
	        return false;
	    });
	});
	
	$(function(){
	    var now = new Date();
	
	    $('#event_end_datetime').scroller({
	        preset: 'datetime',
	        minDate: new Date(now.getFullYear(), now.getMonth(), now.getDate()),
	        theme: 'ios',
	        display: 'bottom',
	        mode: 'scroller'
	    });    
	
	    $('#show').click(function(){
	        $('#it').scroller('show'); 
	        return false;
	    });
	    $('#clear').click(function () {
	        $('#it').val('');
	        return false;
	    });
	});
	

</script>
 
 <script src="/bootstrap-wysihtml5-0.0.2/libs/js/wysihtml5-0.3.0_rc2.min.js"></script>
 <script src="/bootstrap-wysihtml5-0.0.2/bootstrap-wysihtml5-0.0.2.min.js"></script>
 
 <script>
 $('#event_body_html').wysihtml5({
	"font-styles": true, //Font styling, e.g. h1, h2, etc. Default true
	"emphasis": true, //Italics, bold, etc. Default true
	"lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
	"html": true, //Button which allows you to edit the generated HTML. Default false
	"link": true, //Button to insert a link. Default true
	"image": true, //Button to insert an image. Default true,
	"color": false //Button to change color of font  
});
 </script>
 
 
 
<% end %>

<%= content_for :styles do %>

<link rel="stylesheet" type="text/css" href="/bootstrap-wysihtml5-0.0.2/bootstrap-wysihtml5-0.0.2.css"></link>
<% end %>

