
<br/>
<%= simple_form_for @event, :html => { :class => 'form-vertical well' } do |c| %>
  
 <div class="row-fluid">
  <div class="span5">
  	<h3>EVENT DETAILS</h3><br/>
  	<%= c.input :title, :required => true %>
  	<%= c.input :start_datetime, :required => true %> 
  	<%= c.input :end_datetime, :required => true %>
  	</div>
  	
  	
  	<div class="span5">
	  	<h3>VENUE DETAILS</h3> <br/>
	  	<%= c.input :venue_virtual, :as => :boolean %>
	  	<%= c.input :venue_street_address, :required => true %>
	  	<%= c.input :venue_secondary_address %> 
	  	<%= c.input :venue_city, :required => true %>
	  	<%= c.input :venue_state_province, :required => true %>
	  	<%= c.input :venue_country, :required => true %> 
  	</div>
  </div>	
  <div class="form-actions">
    <%= c.button :submit, :class => 'btn-flat primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                events_path, :class => 'btn-flat inverse' %>
  </div>
  
  
  

<% end %>

<% content_for :jsfooter do %>


<%= javascript_include_tag "../mobiscroll-2.1/js/mobiscroll-2.1.custom.min.js"%>
<script>
	
	$(function(){
	    var now = new Date();
	
	    $('#event_start_datetime').scroller({
	        preset: 'datetime',
	        minDate: new Date(now.getFullYear(), now.getMonth(), now.getDate()),
	        theme: 'ios',
	        display: 'bottom',
	        mode: 'scroller'
	    });    
	
	    $('#show').click(function(){
	        $('#it').scroller('show'); 
	        return false;
	    });
	    $('#clear').click(function () {
	        $('#it').val('');
	        return false;
	    });
	});
	
	$(function(){
	    var now = new Date();
	
	    $('#event_end_datetime').scroller({
	        preset: 'datetime',
	        minDate: new Date(now.getFullYear(), now.getMonth(), now.getDate()),
	        theme: 'ios',
	        display: 'bottom',
	        mode: 'scroller'
	    });    
	
	    $('#show').click(function(){
	        $('#it').scroller('show'); 
	        return false;
	    });
	    $('#clear').click(function () {
	        $('#it').val('');
	        return false;
	    });
	});
	
	
</script>
 
<% end %>






