<%- model_class = Event -%>


<div class="row-fluid header">
                    <h3>Events</h3>
                    <div class="span10 pull-right">
                        
						<%= link_to "+ NEW EVENT", new_event_path(), :class => 'btn-flat gray pull-right' %>
                        
                    </div>
                </div>


<%- flash.each do |k, v| %>
  				<div id="<%= k %>" class="alert alert-<%= k %>"><%= v %></div>
  			<% end %>



<div class="table-products">
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:start_datetime) %></th>
      <th><%= model_class.human_attribute_name(:end_datetime) %></th>
      <th></th>
      <th></th>
      <th></th>
      
    </tr>
  </thead>
  <tbody>
    <% @events.each do |i| %>
      <tr>
        <td><%= i.title %></td>
        <td><%= i.start_datetime  %></td>
        <td><%= i.end_datetime %></td>
        <td><%= link_to 'Show', event_path(i) %></td>
    	<td><%= link_to 'Edit', edit_event_path(i) %></td>
    	<td><%= link_to 'Destroy', i, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>












