<%- model_class = Event -%>

<div class="row-fluid">
	<h2><%= @event.title.upcase %></h2>
	<div class="pull-right">
		<!--<%= link_to edit_event_path(@event), :class => 'btn-flat icon pull-right' do %>
		<i class="icon-wrench"></i>
		START CHECKIN
		<% end %> -->

		<%= link_to t('.edit', :default => t("helpers.links.edit")),
		edit_event_path(@event), :class => 'btn-flat default pull-right' %>

	</div>
</div>

<br/>
<%= render 'partials/event_stats'%>

<br/>

<div class="row-fluid">
	<div class="span6 well">
		<h3>EVENT DETAILS</h3>
		<dl class="dl-horizontal">

			<dt>
				<strong><%= model_class.human_attribute_name(:title) %>:</strong>
			</dt>
			<dd>
				<%= @event.title.upcase %>
			</dd>
			<dt>
				<strong><%= model_class.human_attribute_name(:start_datetime) %>:</strong>
			</dt>
			<dd>
				<%= @event.start_datetime %>
			</dd>
			<dt>
				<strong><%= model_class.human_attribute_name(:end_datetime) %>:</strong>
			</dt>
			<dd>
				<%= @event.end_datetime %>
			</dd>

		</dl>
	</div>

	<div class="span6 well">
		<h3>VENUE DETAILS</h3>
		<dl class="dl-horizontal">

			<dt>
				<strong><%= model_class.human_attribute_name(:venue_street_address) %>:</strong>
			</dt>
			<dd>
				<%= @event.venue_street_address %>
			</dd>
			<dt>
				<strong><%= model_class.human_attribute_name(:venue_secondary_address) %>:</strong>
			</dt>
			<dd>
				<%= @event.venue_secondary_address %>
			</dd>
			<dt>
				<strong><%= model_class.human_attribute_name(:venue_city) %>:</strong>
			</dt>
			<dd>
				<%= @event.venue_city %>
			</dd>
			<dt>
				<strong><%= model_class.human_attribute_name(:venue_state_province) %>:</strong>
			</dt>
			<dd>
				<%= @event.venue_state_province %>
			</dd>
			<dt>
				<strong><%= model_class.human_attribute_name(:venue_country) %>:</strong>
			</dt>
			<dd>
				<%= @event.venue_country %>
			</dd>

		</dl>
	</div>
</div>

<div class="row-fluid ">
	<div class="span12 well">
	<h3>EVENT DESCRIPTION</h3> <br/>
	<%= @event.body_html.html_safe %>
	</div>
	</div>

<%= render 'partials/ticket_types'%>

<%= render 'partials/registrations'%>

<%= render 'partials/attendees'%>

</div>


