<%- model_class = Event -%>

<h3>Event: <%= @event.title.upcase %></h3>

<br/>

<dl class="dl-horizontal">
		  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
		  <dd><%= @event.title %></dd>
		  <dt><strong><%= model_class.human_attribute_name(:start_datetime) %>:</strong></dt>
		  <dd><%= @event.start_datetime %></dd>
		  <dt><strong><%= model_class.human_attribute_name(:end_datetime) %>:</strong></dt>
		  <dd><%= @event.end_datetime %></dd>
		  <dt><strong><%= model_class.human_attribute_name(:venue_street_address) %>:</strong></dt>
		  <dd><%= @event.title %></dd>
		  
		  
		  
	</dl>



<div class="form-actions">
 	<%= link_to t('.back', :default => t("helpers.links.back")),
		              events_path, :class => 'btn-flat inverse'  %>
		  <%= link_to t('.edit', :default => t("helpers.links.edit")),
		              edit_event_path(@event), :class => 'btn-flat default' %>
	
	
		</div>	