	<div class="row-fluid header">
                    <h3>Customers</h3>
                    
                </div>

                <!-- Users table -->
                <div class="row-fluid table-products well">
                	<% if @customers.blank? %>
						<table class="table table-striped">
							<tr>
								<td><em>There are no customers.</em></td>
							</tr>
							
						</table>
					<% else %>	
                    <table class="table table-hover ">
                        <thead>
                            <tr>
                                <th class="span4 sortable">
                                    Last Name
                                </th>
                                <th class="span4 sortable">
                                    First Name
                                </th>
                                <th class="span3 sortable">
                                    <span class="line"></span>Email
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        <!-- row -->
                        <% @customers.each do |customer| %>
                        <tr class="first">
                            <td><%= link_to customer_path(customer), :class => "name" do %>
                            		<%= customer.last_name %>
                            	<% end %>
                            </td>
                            <td><%= link_to customer_path(customer), :class => "name" do %>
                            		<%= customer.first_name %>
                            	<% end %>
                            </td>
                            <td><%= customer.email %></td>
						    
						</tr>
                        <% end %>
                        
                        </tbody>
                    </table>
                    <% end %>
                </div>
                <%= paginate @customers %>
                <!-- end users table -->
            


