	<div class="row-fluid header">
                    <h3><%= @event.title.upcase %> Registrations</h3>
            <div class="pull-right">
					<%= link_to event_path(@event), :class => 'btn-flat icon pull-right' do %>
						<i class="icon-wrench"></i>
						BACK TO EVENT
					<% end %> 
		              
		
		 
	</div>
                </div>
			<% if @orders.blank? %>
			<table class="table table-striped">
				<tr>
					<td><em>There are no event registrations for the <%= @event.title %>.</em></td>
				</tr>
				<tr>
					<td><%= link_to "BACK", event_path(@event), :class => 'btn-glow success' %></td>
				</tr>
			</table>

	<% else %>
                <!-- Users table -->
                <div class="row-fluid table-products well">
                    <table class="table table-hover ">
                        <thead>
                            <tr>
                                <th class="span4 sortable">
                                    Name
                                </th>
                                
                                <th class="span3 sortable">
                                    <span class="line"></span>Email
                                </th>
                                <th class="span3 sortable">
                                    <span class="line"></span>Phone
                                </th>
                                
                            </tr>
                        </thead>
                        <tbody>
                        <!-- row -->
                        <% @orders.each do |registration| %>
                        <tr class="first">
                            <td><%= link_to registration_path(registration), :class => "name" do %>
                            		<%= registration.customer.first_name %> <%= registration.customer.last_name %>
                            	<% end %>
                            </td>
                            <td><%= registration. customer.email %></td>
						    <td><%= number_to_phone(registration. customer.phone) %></td>
						</tr>
                        <% end %>
                        
                        </tbody>
                    </table>
                </div>
                <% end %>
                <%= paginate @orders %>
                
                
                <!-- end users table -->
            


