<h1>Listing webhook_events</h1>

<table>
  <tr>
    <th>Method</th>
    <th>Class</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @webhook_events.each do |webhook_event| %>
  <tr>
    <td><%= webhook_event.method %></td>
    <td><%= webhook_event.class %></td>
    <td><%= webhook_event.body %></td>
    <td><%= link_to 'Show', webhook_event %></td>
    <td><%= link_to 'Edit', edit_webhook_event_path(webhook_event) %></td>
    <td><%= link_to 'Destroy', webhook_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Webhook event', new_webhook_event_path %>
