
<h3>Events</h3>
	<div class="span10 pull-right">

		<%= link_to "+ NEW EVENT", new_event_path(), :class => 'btn-glow success pull-right' %>
	</div>
	
	

	<%- flash.each do |k, v| %>
	<div id="<%= k %>" class="alert alert-<%= k %>">
		<%= v %>
	</div>
	<% end %>

	
	 <div class="row-fluid ">
     
	 <ul class="nav nav-tabs" id="myTab">
	  <li><a href="#upcoming" data-toggle="tab">Upcoming</a></li>
	  <li><a href="#previous" data-toggle="tab">Previous</a></li>
	  <li><a href="#all" data-toggle="tab">All</a></li>
	  
	</ul>
	 
	<div class="tab-content">
		<div class="tab-pane" id="upcoming">
			<div class="table-products well">
				<% if @events_upcoming.blank? %>
			<table class="table table-striped">
				<tr>
					<td><em>There are no upcoming events.</em></td>
				</tr>
				
			</table>
		<% else %>	
		<table class="table table-hover">
		<thead>
			<tr>
				<th>Title</th>
				<th>Start</th>
				<th>End</th>
				<th></th>

			</tr>
		</thead>
		<tbody>
			<% @events_upcoming.each do |i| %>
			<tr>
				<td><strong><%= link_to event_path(i) do %>
				<%= i.title.upcase %>
				<% end %></strong></td>
				<td><%= i.start_datetime  %></td>
				<td><%= i.end_datetime %></td>

				<td>
				<ul class="actions">

					<li>
						<%= link_to edit_event_path(i) do %> 
							<i class="table-edit"></i>
						<% end %>
					</li>
					<li>
						<%= link_to edit_event_path(i) do %>
						<i class="table-delete"></i>
						<% end %>
					</li>
				</ul></td>

			</tr>
			<% end %>
		</tbody>
	</table>
	 <% end %>
		</div>
	 </div>
		<div class="tab-pane" id="previous">
			<div class="table-products well">
				<% if @events_previous.blank? %>
			<table class="table table-striped">
				<tr>
					<td><em>There are no previous events.</em></td>
				</tr>
				
			</table>
		<% else %>	
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Title</th>
				<th>Start</th>
				<th>End</th>
				<th></th>

			</tr>
		</thead>
		<tbody>
			<% @events_previous.each do |i| %>
			<tr>
				<td><strong><%= link_to event_path(i) do %>
				<%= i.title.upcase %>
				<% end %></strong></td>
				<td><%= i.start_datetime  %></td>
				<td><%= i.end_datetime %></td>

				<td>
				<ul class="actions">

					<li>
						<%= link_to edit_event_path(i) do %> 
							<i class="table-edit"></i>
						<% end %>
					</li>
					<li>
						<%= link_to edit_event_path(i) do %>
						<i class="table-delete"></i>
						<% end %>
					</li>
				</ul></td>

			</tr>
			<% end %>
		</tbody>
	</table>
	 <% end %>
		</div>
	 </div>
	  <div class="tab-pane" id="all">
	  	
	  	<div class="table-products well">
	  		<% if @events.blank? %>
			<table class="table table-striped">
				<tr>
					<td><em>There are no events.</em></td>
				</tr>
				
			</table>
		<% else %>	
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Title</th>
				<th>Start</th>
				<th>End</th>
				<th></th>

			</tr>
		</thead>
		<tbody>
			<% @events.each do |i| %>
			<tr>
				<td><strong><%= link_to event_path(i) do %>
				<%= i.title.upcase %>
				<% end %></strong></td>
				<td><%= i.start_datetime  %></td>
				<td><%= i.end_datetime %></td>

				<td>
				<ul class="actions">

					<li>
						<%= link_to edit_event_path(i) do %> 
							<i class="table-edit"></i>
						<% end %>
					</li>
					<li>
						<%= link_to edit_event_path(i) do %>
						<i class="table-delete"></i>
						<% end %>
					</li>
				</ul></td>

			</tr>
			<% end %>
		</tbody>
	</table>
	 <% end %>
		</div>
	  	
	  	
	  </div>
	</div>
	 
	<% content_for :jsfooter do %>
		 <script>
		 $(document).ready(function() {
		  $('#myTab a:first').tab('show');
		});
	  
		</script>
	
		
	<% end %>
	 
</div>
